<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uninsubria.studenti.rripamonti.biblioteca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirebaseLoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.LoanStatusActivity"
            android:label="@string/loan_status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.RequestLoan"
            android:label="@string/request_loan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.AdminMainActivity"
            android:label="@string/new_loan_req"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.admin.AddObjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.UserTabbedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.ObjectDetail"
            android:label="@string/detail"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.admin.EndOfLoan"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.admin.EditActivity"
            android:label="@string/edit_book"
            android:screenOrientation="portrait"/>
    </application>

</manifest>